<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dashboard</title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <h1>Dashboard</h1>
  <h2>Welcome back {{user}}</h2>
  <a href="{% url 'user:signout' %}">Sign Out</a><br>

  {% for pesanan in jumlah_pesanan %}

  <div class="card" style="float:left; width: 18rem;">
    <img style="width: 285px; height: 200px; background-image: url({{pesanan.gambar.url}}); background-size: cover">
    <div class="card-body">
      <h5 class="card-title">{{pesanan.nama}}</h5>
      <p class="card-text" style="color: #666">{{pesanan.plat}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Total : Rp {{pesanan.total_bayar}}</li>
      <li class="list-group-item">Waktu kembali : {{pesanan.tgl_kembali}}</li>
      {% if hari_ini > pesanan.tgl_kembali %}
      <li class="list-group-item">Denda : {{pesanan.denda}}</li>
      {% endif %}

      {% for mobil in seluruh_mobil|slice:":1" %}
        <p>{{mobil.ratinged_by}}</p>
      {% if request.user in mobil.ratinged_by %}

      {% else %}
      <form method="post" class="range-field">
        {% csrf_token %}
        <input type="hidden" name="plat_mobil" value="{{pesanan.plat}}">
        <label for="customRange2">Rating</label>
        <input type="range" class="custom-range" name="rating" min="0" max="5" id="customRange2">
        <input type="submit" name="submit">
      </form>
      {% endif %}
      {% endfor %}
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Batalkan
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Apakah anda yakin akan membatalkan pesanan?</p>
            </div>
            <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
             <a href="{% url 'sewa_mobil:batalPesan' pesanan.plat %}"><button type="button" class="btn btn-danger">Yakin</button></a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

	<!-- <hr>
		<h3>{{pesanan.nama}}</h3>
		<h4>{{pesanan.plat}}</h4>
		<img src="{{pesanan.gambar}}" alt="">
		<p>Total bayar anda adalah : {{pesanan.total_bayar}}</p>
		<p>batas waktu pengembalian : {{pesanan.tgl_kembali}}</p>
		<p>Jika anda tidak mengembalikan pada tgl diatas maka akan terkena denda sebesar : {{pesanan.denda}}</p>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  Batalkan Pesanan
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan membatalkan pesanan?</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
        <a href="{% url 'sewa_mobil:batalPesan' pesanan.plat %}"><button type="button" class="btn btn-danger">Yakin</button></a>
      </div>
    </div>
  </div>
</div>
<hr> -->
{% endfor %}
</body>
</html>