{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="{% static "css/car.css" %}">
  <link rel="stylesheet" href="fontawesome/fontawesome-free-5.14.0-web/css/all.css">
  <title>Car List</title>
</head>
<body>
  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">
          <i class="fas fa-car fa-2x mx-3"></i></i>RENTCAR </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-right text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">HOME
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="car.html">CAR LIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-primary">Login</button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-warning">Register</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-8 order-md-2 col-lg-9">
        <div class="container-fluid">
          <div class="row   mb-5">
            <div class="col-12">
              <div class="dropdown text-md-left text-center float-md-left mb-3 mt-3 mt-md-0 mb-md-0">
                <label class="mr-2">Sort by:</label>
                <a class="btn btn-lg btn-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relevance <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" x-placement="bottom-start" style="position: absolute; transform: translate3d(71px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Relevance</a>
                  <a class="dropdown-item" href="#">Price Descending</a>
                  <a class="dropdown-item" href="#">Price Ascending</a>
                  <a class="dropdown-item" href="#">Best Selling</a>
                </div>
              </div>
              <div class="btn-group float-md-right ml-3">
                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-left"></span> </button>
                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-right"></span> </button>
              </div>
              <div class="dropdown float-right">
                <label class="mr-2">View:</label>
                <a class="btn btn-lg btn-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">9 <span class="caret"></span></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" x-placement="bottom-end" style="will-change: transform; position: absolute; transform: translate3d(120px, 48px, 0px); top: 0px; left: 0px;">
                  <a class="dropdown-item" href="#">12</a>
                  <a class="dropdown-item" href="#">24</a>
                  <a class="dropdown-item" href="#">48</a>
                  <a class="dropdown-item" href="#">96</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% for mobil in mobil_all %}
            {% if forloop.counter|divisibleby:3 == 0%}
            <br>
            {% endif %}
            <div class="col-6 col-md-6 col-lg-4 mb-3">
              <div class="card h-100 border-0">
                <div class="card-img-top">
                  <img src="{{mobil.gambar.url}}" style="width: 200px; height: 200px" class="img-fluid mx-auto d-block" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">
                    <a href="{% url 'sewa_mobil:detail' mobil.slug %}" class=" font-weight-bold text-dark text-uppercase small">{{mobil.nama}}</a>
                  </h4>
                  <h5 class="card-price small text-warning">
                    <i>
                    {{mobil.harga}}</i>
                  </h5>
                  {% if mobil.status == "Available" %}
                    <p class="lead text-success">{{mobil.status}}</p>
                  {% else %}
                    <p class="lead text-danger">{{mobil.status}}</p>
                  {% endif %}
                  <div class="row">
                    <div class="col">
                      <a href="{% url 'sewa_mobil:detail' mobil.slug %}">
                      <button type="button" class="btn btn-secondary">Detail</button>
                      </a>
                    </div>
                    {% if mobil.status == "Not Available" %}
                        <div class="col">
                        <button type="button" class="btn btn-primary disabled">Book</button>
                    </div>
                    {% else %}
                        <div class="col">
                      <a href="{% url 'sewa_mobil:pesan' mobil.slug %}">
                        <button type="button" class="btn btn-primary">Book</button>
                      </a>
                    </div>
                    {% endif %}
                    
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          
          <div class="row sorting mb-5 mt-5">
            <div class="col-12">
              <a class="btn btn-light">
                <i class="fas fa-arrow-up mr-2"></i> Back to top</a>
                <div class="btn-group float-md-right ml-3">
                  <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-left"></span> </button>
                  <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-right"></span> </button>
                </div>
                <div class="dropdown float-md-right">
                  <label class="mr-2">View:</label>
                  <a class="btn btn-light btn-lg dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">12 <span class="caret"></span></a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">12</a>
                    <a class="dropdown-item" href="#">24</a>
                    <a class="dropdown-item" href="#">48</a>
                    <a class="dropdown-item" href="#">96</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
          <h3 class="mt-0 mb-5">Showing <span class="text-primary">12</span> Products</h3>
          <h6 class="text-uppercase font-weight-bold mb-3">Categories</h6>
          <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="category-1">
              <label class="custom-control-label" for="category-1">Covertible</label>
            </div>
          </div>
          <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="category-2">
              <label class="custom-control-label" for="category-2">Coupe</label>
            </div>
          </div>
          <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="category-3">
              <label class="custom-control-label" for="category-3">Sedan</label>
            </div>
          </div>
          <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="category-4">
              <label class="custom-control-label" for="category-4">Hatchback</label>
            </div>
          </div>
          <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="category-5">
              <label class="custom-control-label" for="category-5">SUV</label>
            </div>
          </div>
          <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="category-6">
              <label class="custom-control-label" for="category-6"> MPV</label>
            </div>
          </div>
          <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
          <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Transmission</h6>
          <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="filter-size-2">
              <label class="custom-control-label" for="filter-size-2">Auto</label>
            </div>
          </div>
          <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="filter-size-3">
              <label class="custom-control-label" for="filter-size-3">Manual</label>
            </div>
          </div>
          <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
          <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Price</h6>
          <div class="price-filter-control">
            <input type="number" class="form-control w-50 pull-left mb-2" value="50" id="price-min-control">
            <input type="number" class="form-control w-50 pull-right" value="150" id="price-max-control">
          </div>
          <input id="ex2" type="text" class="slider " value="50,150" data-slider-min="10" data-slider-max="200" data-slider-step="5" data-slider-value="[50,150]" data-value="50,150" style="display: none;">
          <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
          <a href="#" class="btn btn-lg btn-block btn-primary mt-5">Submit</a>
        </div>

      </div>
    </div>

    <footer class="page-footer font-small unique-color-dark">

      <div style="background-color: #6351ce;">
        <div class="container">

          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram white-text"> </i>
              </a>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
      </div>
      
      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">RENTCAR</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color: blue;">
            <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
              consectetur
            adipisicing elit.</p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">MENU</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color: blue;">
            <p>
              <a href="#!">HOME</a>
            </p>
            <p>
              <a href="#!">CAR LIST</a>
            </p>
            <p>
              <a href="#!">CONTACT</a>
            </p>
            <p>
              <a href="#!">ABOUT</a>
            </p>

          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i> Malang, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope mr-3"></i>achmadsymsl87@gmail.com</p>
                <p>
                  <i class="fas fa-phone mr-3"></i> + 221 234 567 88</p>
                  <p>
                    <i class="fas fa-print mr-3"></i>+921 211 324</p>
                  </div>
                </div>
              </div>
            </footer>
            <!-- js -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
            <script src="{% static "js/main.js" %}"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.jshttps://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
          </body>
          </html>